@model Conference_Management_System.Models.SectionsListeners
@{
    ViewBag.Title = "GetAllSections";
}

<h2 style="text-align:center">
    Sign up for Sections
</h2>
<div style="display:inline-flex;width:100%;">
    <table >
        <caption>Available sections</caption>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Seats</th>
            <th>Conference</th>
            <th></th>
        </tr>
        @foreach (var section in Model.AllSections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => section.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.Conference.Name)
                </td>
                <td>
                    @Html.ActionLink("Sign up", "Add", "SignupForSection", new { sectionId = section.Id }, null)
                </td>
            </tr>
        }
    </table>


    <table>
        <caption>Your sections</caption>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Seats</th>
            <th>Conference</th>
            <th></th>
        </tr>
        @foreach (var section in Model.UserSections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => section.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => section.Conference.Name)
                </td>
                <td>
                    @Html.ActionLink("Withdraw", "Delete", "SignupForSection", new { sectionId = section.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 45%;
        margin: 30px;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #ADD8E6;
        color: white;
    }
</style>