@model List<Conference_Management_System.Models.Recommendation>

    @{
    ViewBag.Title = "GetReviewsForPaper";
    }

    @*<h2>Other Reviews for @Model</h2>*@

    <form>
        @foreach(var item in Model)
        {
        <fieldset>
            <legend>@item.Rewiever.Name</legend>
            @item.Text
        </fieldset>
        }
    </form>

<h2>Comments:</h2>

@foreach (var comment in ViewBag.comments)
{
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading' style='background: #fff;'>
                        <div class="row">
                            <div class="col-xs-9">
                                <h3 class='panel-title'>
                                    @comment.Reviewer.Username
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class='panel-body'>
                        @comment.Text
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<b>Add new comment: </b> <br>


<div class="container">
    <div class="col-md-6">
        <form method="post" action="../comments/post">
            <div class="form-group">
                <div class="form-group" novalidate>
                    <input type="hidden" class="form-control" name="idSubmission" value="@Model.First().SubmissionId" >
                </div>

                <div class="form-group" novalidate>
                    <input type="hidden" class="form-control" name="idUser" value="@ViewBag.userId" >
                </div>

                <input type="text" class="form-control" name="content" placeholder="Comment text" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Add comment</button>
            </div>
        </form>
    </div>
</div>