<li class="logo"><a href="">CMS</a></li>
<li><a href="@Url.Action("GetAll", "Conference")">Conferences</a></li>
<li> <a href="@Url.Action("Bid", "Proposals")">Bidding</a></li>
<li> <a href="@Url.Action("Proposals", "GiveQualifiers")">Qualifiers</a></li>
<li> <a href="@Url.Action("PaperList", "SeeOtherReviews")">Other reviews</a></li>
<li> <a href="@Url.Action("Logout", "Logout")">Logout</a></li>