@model IEnumerable<Conference_Management_System.Models.Conference>

@{
    ViewBag.Title = "Pay fee";
}

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function () {
        $(document.body).on('change', '#conferenceId', function () {
            var t = $('#conferenceId').find(":selected").text();
            var arr = t.split("-");
            $("#feeText").text("You will be charged " + arr[1]);
        });
    });
</script>



<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand logo"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav header-nav">
                @if (ViewBag.Role == null)
                {
                    Html.RenderPartial("~/Views/Menus/NotLoggedIn.cshtml");
                }
                else
                {
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.AUTHOR) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/Author.cshtml");
                    }
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.LISTENER) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/Listener.cshtml");
                    }
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.PCM) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/PCM.cshtml");
                    }
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.CHAIR) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/Chair.cshtml");
                    }
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.CO_CHAIR) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/CoChair.cshtml");
                    }
                    if ((Conference_Management_System.Models.Role)ViewBag.Role.CompareTo(Conference_Management_System.Models.Role.SCM) == 0)
                    {
                        Html.RenderPartial("~/Views/Menus/SCM.cshtml");
                    }
                }
            </ul>
        </div>
    </div>
</nav>


<div class="container body-content">

    <h2>Pay</h2>

    <form method="post">
        Please select the conference in which you want to participate:<br />
        @if (ViewBag.loggedUserRole.CompareTo("AUTHOR") == 0)
        {
            <select name="conferenceId" id="conferenceId">
                <option disabled selected></option>
                @foreach (var conference in Model)
                {
                    <option value="@conference.Id">@conference.Name-@conference.AuthorFee RON</option>
                }
            </select>
        }
        else
        {
            <select name="conferenceId" id="conferenceId">
                <option disabled selected></option>
                @foreach (var conference in Model)
                {
                    <option value="@conference.Id">@conference.Name - @conference.ListenerFee</option>
                }
            </select>
        }

        <br />
        <p></p>
        <p id="feeText"></p>
        <p></p>
        <div class="form-group" novalidate>
            <label for="cardName">Name on card</label>
            <input type="text" class="form-control" name="cardName">
        </div>
        <div class="form-group" novalidate>
            <label for="cardNr">Card Number</label>
            <input type="text" class="form-control" name="cardNr">
        </div>
        <div class="form-group" novalidate>
            <label for="cvv">Security Code (CVV)</label>
            <input type="text" class="form-control" name="cvv">
        </div>
        <div class="form-group" novalidate>
            <label for="exp">Expiration date</label>
            <input type="text" class="form-control" name="exp" placeholder="MM/yy">
        </div>
        <input type="submit" value="Save">
    </form>
</div>