@model Tuple<Conference_Management_System.Models.Qualifier, Conference_Management_System.Models.Recommendation>
@{
    ViewBag.Title = "GiveQualifier";
}

<h2>GiveQualifier</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(tuple=>tuple.Item1.Paper)
        @Html.TextBoxFor(tuple => tuple.Item1.Paper)
    </div><br/>
    <div>
        @Html.LabelFor(tuple=>tuple.Item1.Reviewer)
        @Html.TextBoxFor(tuple=>tuple.Item1.Reviewer)
    </div><br/>
    <div>
        @Html.LabelFor(tuple=>tuple.Item1.Value)
        @Html.TextBoxFor(tuple => tuple.Item1.Value)
    </div>
    <br/>
    <div>
        @Html.LabelFor(tuple => tuple.Item2.Text)
        @Html.TextAreaFor(tuple => tuple.Item2.Text)
    </div>
    <br/>
    <input type="submit" value="Add" />
}

